<h1><%= @tag.name %></h1>

<p>
  <strong>Name:</strong>
  <%= @tag.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tag.description %>
</p>

<%= link_to "Edit", edit_tag_path(@tag), class: "crud_button" %>
<%= link_to "Delete", @tag, method: :delete, class: "crud_button",
  data: { confirm: "Are you sure you want to delete this tag?" } %>

<p><br>
<%= link_to "Back", tags_path %>
</p>