<h1>Transactions</h1>

<ul class="trans-header">
  <li>
    <%= link_to "New Transaction", new_transaction_path, class: "crud_button" %>
  </li>
  <li>
    <%= form_tag search_transactions_path, method: :get, class: "form-inline" do %>
      <%= label_tag "search", "Search", class: "sr-only" %>
      <%= text_field_tag "search", params[:search], class: "form-control" %>
      <%= submit_tag "Search", class: "btn btn-outline-secondary ml-2" %>
    <% end %>
  </li>
</ul>

<div class="table-responsive">
  <table class="table table-hover table-bordered table-sm">
    <thead class="thead-light">
      <tr>
        <th>Date</th>
        <th>Amount</th>
        <th>Tags</th>
        <th>Description</th>
      </tr>
    </thead>
    <body>
      <% @transactions.each do |trx| %>
      <tr>
        <td><%= trx.trans_date %></td>
        <td><%= link_to number_to_currency(trx.amount, unit: '').to_s, transaction_path(trx) %></td>
        <td><%= render trx.tags, tag_actionable: false %></td>
        <td><%= trx.description %></td>
      </tr>
      <% end %>
    </body>
  </table>
</div>


